.container-hero {
  display: flex;
  flex-wrap: wrap;
}

.halaman {
  display: flex;
}

.halaman > h1 {
  position: relative;
  top: 5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.halaman > h1 span {
  margin-top: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  display: block;
}

.halaman > h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: 17rem;
}

.halaman > p {
  top: 14rem;
  right: 14rem;
}

.halaman p > span {
  font-weight: 700;
}

.kolom a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: white;
}

.kolom {
  top: 14rem;
  right: 47rem;
}

.profil-img {
  top: -14rem;
  left: 31rem;
}